.wrapper {
  display: grid;
  grid-template-areas: 'nav main';
  grid-template-columns: 20% 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
}

nav {
  grid-area: nav;
  border-right: 1px solid var(--slate300);
  padding: 1.2em;
}

main {
  grid-area: main;
  padding: 1.2em;
}
